
#acerca h1{
    font-size:large;
}
#acerca h2{
    font-size:medium;
}

.noticia{
    height: 200px;
    width: 200px;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}
.fila{
    margin: 5px;
}
footer nav{
    font-weight:bold ;
    text-align: center;
}
.carousel .carousel-item {
    height: 150px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:fill;
      top: 0;
      left: 0;
      height: 150px;
  }
  .login{
    width: 80%;
    height: 80px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 10px;
    resize: none;
    margin-left: 5%;
}
.tarjeta{
    height:250px ;
    width: 150px;
    margin: auto;
    position: relative;
}
.boton{
    list-style: none;
    float: left;
}
.input input{
    width: 40px;
}
body{
    background-color: rgb(98, 171, 255);
}
.col {
    border: 10px ;
}
#foto{
    height: 200px;
    width: 175px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50% ;
    border: solid;
    margin: 0 auto;
}