
#acerca h1{
    font-size:large;
}
#acerca h2{
    font-size:medium;
}

.noticia{
    height: 200px;
    width: 200px;
    padding: 5px;
}
.fila{
    margin: 5px;
}
footer nav{
    font-weight:bold ;
    text-align: center;
}
.carousel .carousel-item {
    height: 150px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:fill;
      top: 0;
      left: 0;
      height: 150px;
  }
  .login{
    width: 800px;
    height: 80px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 10px;
    resize: none;
    padding-left: 400px;
}